docs/upnpresources/standardizeddcps/MultiScreen_2/FeatureList-v1-20140930.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:schemas-upnp-org:ms:FeatureList" 
xmlns:xs="http://www.w3.org/2001/XMLSchema"  version="1-20140930">
  <xs:element name="FeatureList">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="feature" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="name" use="required"/>
                <xs:attribute type="xs:string" name="version" use="required"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>